@media only screen and (min-width: 992px) {
  .navbar-text {
    padding: 0 0.5em;
  }
  .nav-item:not(:last-child) {
    border-right: 2px solid #000000;
  }
}

.container.custom-container {
  padding: 0 50px;
}


